{% extends 'base.html' %}

{% block images_viewer %}
    <p><a href="{% url 'upload' %}">Upload an image</a></p>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <table>
        <tr>
            <th>Nickname</th>
            <th>Pet Name</th>
            <th>URL</th>
            <th>Ranking</th>
        </tr>
        {% for item in images %}
            <tr>
                <td>{{ item.nickname }}</td>
                <td>{{ item.pet_name }}</td>
                <td>
                    <img src="/media/{{ item.img_dir }}" alt="img_load">
                </td>
                <td>{{ item.rank }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="like_button_container" data-commentid="1"></div>
    <div class="like_button_container" data-commentid="2"></div>
    <div class="like_button_container" data-commentid="3"></div>
{% endblock %}


